@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');
:root {
  --cor-global: 92,122,255;	
  --bg-global: 242,242,242;
  --cor-svg-global: var(--SVG-AZUL);

  --cor-azul: 92,122,255; /*AZUL - 5c7aff */
  --cor-verde: 3,181,170; /*VERDE - 03b5aa */
  --cor-vermelho: 231,111,81; /*VERMELHO - fb5012 */

  --bg-dark: 30,30,30;

  --SVG-AZUL: invert(50%) sepia(37%) saturate(5876%) hue-rotate(213deg) brightness(101%) contrast(101%);
  --SVG-VERDE: invert(49%) sepia(87%) saturate(471%) hue-rotate(127deg) brightness(94%) contrast(98%);
  --SVG-VERMELHO: invert(53%) sepia(99%) saturate(1810%) hue-rotate(330deg) brightness(99%) contrast(82%);
}

/*---CORES ICONES---*/
.svg-global {
	filter:  var(--cor-svg-global);
}
.svg-azul {
	filter: var(--SVG-AZUL);
}
.svg-vermelho {
	filter: var(--SVG-VERMELHO);
}
.svg-verde {
	filter: var(--SVG-VERDE);
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

body {
	font-family: 'Poppins',sans-serif;
	background-color: rgba(var(--bg-global),1); 
}

/*HIDE */
.hide {
	display: none;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---CONTAINER---*/

.flex-container {
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*---NAVBAR---*/
.flex-navbar {
	background-color: rgba(var(--cor-global),0.3);
	border:  2px solid rgba(var(--cor-global),0.3);
}
/*---ICONES---*/
#ico-logo {
	padding: 0.25em;
	width: 3em;
	height: auto;
	border-radius: 50%;
}
#ico-dark, 
#ico-light,
#ico-config {
	margin: 1em;
	width: 2em;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*---MODAL---*/
.modal {
	position: absolute;
	top: 20px;
	right: 60px;
	width: 250px;
	height: 250px;
	z-index: 2;
	border-radius: 25px;
	background-color: rgba(var(--bg-global),1);
	border: 3px solid rgba(var(--cor-global),1.0);
}
.modal-ln1 {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-ln2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-ln3 {
	display: flex;
	align-items: center;
	justify-content: center;	
}
.modal-ln2 p {
	color: rgba(var(--cor-global),1.0);
	font-weight: bold;
	letter-spacing: 3px;
}

/*---ICONES MODAL---*/
.quadrado {
	padding: 0.5em;
	width: 3.5em;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.flex-titulo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-inicio {
	font-size: 35px;
	letter-spacing: 2px;
	color: rgba(var(--cor-global),1.0);
	margin: 0.5em 0.10em 0.5em 0.10em;
	text-align: center;
	font-weight: bold;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

/*GRID IMAGEM*/
.flex-imagem {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/*---IMAGEM---*/
#img-inicio {
	width: 360px;
	height: auto;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*--BOTOES---*/

.flex-button {
 	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	flex: 1;
}
.btns-index {
	font-family: "Poppins",sans-serif;
	border-radius: 25px;
	padding: .10em;
	width: 250px;
	margin: .5em;
}
.btns-index:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#btnIndexAleatorio {
	background-color: rgba(var(--cor-global),1.0);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: #f2f2f2;
}
#btnIndexCriar {
	background-color: rgba(var(--cor-global),0.1);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*----------------------------------------------------------------------*/
/* DESKTOP  */
@media only screen and (min-width: 769px) {

}
/*----------------------------------------------------------------------*/
/* TABLET */
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {


}
/*----------------------------------------------------------------------*/
/* CELPHONE */
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {


}