/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*TITULO*/

.flex-titulo {
	flex-direction: column;
	margin: 0.10em;
}

.titulo {
	font-size: 20px;
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*BONECO*/

.svg-boneco {	
	width: 350px;
	height: 300px;
	fill: transparent;
	stroke: rgba(var(--cor-global),1.0);
	stroke-width: 6px;
	stroke-linecap: round;
}
.partes {
	opacity: 0.0;
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*PALAVRA SECRETA*/

.flex-palavra {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 60px;
}
.flex-palavra div {
	font-size: 24px;
	width: 24px;
	margin: 0 0.20em 0 .20em;
	font-weight: bold;
	line-height: 1.5;

	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 1px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);
}

.letras h1 {
	opacity: 0.0;
}	

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*TECLADO*/
.flex-teclado {
	min-height: 150px;
	display: flex;
	justify-content: center;
}

.teclado {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.tablela-teclado div {
	font-size: 24px;
	width: 24px;
	border-radius: 5px;
	padding: .10em;
	margin: .05em;
	display: flex;
	align-items: center;
	justify-content: center;
	border:  1px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);

}

.tablela-teclado div:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.verde {
	background-color: rgba(92,184,92,0.5);
}
.vermelho {
	background-color: rgba(217,83,79,0.5);
}


/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*BOTOES*/
.flex-buttons {
	flex-direction: row;
	justify-content: center;
}

.btns {
	height: 35px;
	width: 160px;

}
#btnJogoNovo {
	background-color: rgba(var(--cor-global),1.0);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: #f2f2f2;
}
#btnJogoSair {
	background-color: rgba(var(--cor-global),0.1);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);
}


/*----------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*----------------------------------------------------------------------*/
/* DESKTOP  */
@media only screen and (min-width: 769px) {

}
/*----------------------------------------------------------------------*/
/* TABLET */
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {

}

/*----------------------------------------------------------------------*/
/* CELPHONE */
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

}