
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*IMPUTS*/

.input {
	display: block;
	min-width: 325px;
	text-transform: uppercase;
	background-color: rgba(var(--cor-global),0.1);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);
	padding: 0.5em;
	margin-top: 2em;
	margin-bottom: .5em;

}

.label {
	color: rgba(var(--cor-global),1.0);
	letter-spacing: 4px;

}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*BOTOES*/


#btnPalavraSalvar {
	background-color: rgba(var(--cor-global),1.0);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: #f2f2f2;
}
#btnPalavraSair {
	background-color: rgba(var(--cor-global),0.1);
	border:  2px solid rgba(var(--cor-global),1.0);
	color: rgba(var(--cor-global),1.0);
}


/*----------------------------------------------------------------------*/
/*MEDIA QUERIES*/
/*----------------------------------------------------------------------*/
/* DESKTOP  */
@media only screen and (min-width: 769px) {

}
/*----------------------------------------------------------------------*/
/* TABLET */
/*----------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:768px) {

}
/*----------------------------------------------------------------------*/
/* CELPHONE */
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {


}